.top-bg { 
    background-color: green;
    height: 10vh;
}

.above-footer {
    
}

.signin-bg {
    background-image: url('../../../client/src/images/whitelappy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;   
}